.BoostCard {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  img {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 20px;
    max-height: 500px;
    max-width: 450px;
  }

  button {
    align-self: flex-end;
    background: url(../images/refresh.svg);
    background-size: contain;
    border: none;
    color: #5fa5e6;
    cursor: pointer;
    height: 32px;
    margin-right: 20px;
    transition-duration: 1s;
    width: 32px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
