.Nav {
  color: #551a8b;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 40px;

  a {
    align-self: flex-start;
    color: #551a8b;
    cursor: pointer;
    font-family: $font-bold;
    font-size: 3rem;
    height: 48px;
    margin-top: 8px;
    text-align: left;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    width: 250px;
  }

  hr {
    background-color: #b75fe6;
    border: none;
    height: 10px;
    margin: 0;
    width: 200px;
  }
}
