@font-face {
  font-family: 'Cereal';
  src: url(./fonts/AirbnbCereal-Black.ttf);
}

@font-face {
  font-family: 'Cereal-light';
  src: url(./fonts/AirbnbCereal-Light.ttf);
}

$font-bold: 'Cereal';
$font-light: 'Cereal-light';
