@font-face {
  font-family: 'Cereal';
  src: url(../AirbnbCereal-Black.ttf);
}

@font-face {
  font-family: 'Cereal-light';
  src: url(../AirbnbCereal-Light.ttf);
}

$font-bold: 'Cereal';
$font-light: 'Cereal-light';
